In [1]:
import pandas as pd
import numpy as np
from dtw import dtw
import matplotlib.pyplot as plt
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
folder_dir='D:/Documentos/NYU_Projects/bigdata_data/citibike/weather-2011-2017.csv'

### Bike & weather data

In [3]:
data=pd.read_csv('bike_weather2.csv', header=0)
#data['date']=pd.to_datetime(data['day_x']).apply(lambda x: x.date())
data['date']=data['day_x'].astype(str)
data=data[['date','Temp','Spd','Prcp','mean_duration','num_trips']]

data.head()

         date      Temp       Spd  Prcp  mean_duration  num_trips
0  2011-01-01  3.250000  2.987500   0.0            NaN        NaN
1  2011-01-02  5.732353  2.255882   4.8            NaN        NaN
2  2011-01-03  1.200000  8.285714   5.8            NaN        NaN
3  2011-01-04  0.570833  4.116667   0.0            NaN        NaN
4  2011-01-05  1.620833  5.245833   0.0            NaN        NaN

### Crime

In [4]:
crime=pd.read_csv('crime_clean.csv')
crime['date']=crime['date'].astype(str).str.slice(0,10)
crime=crime.drop('Unnamed: 0',axis=1)
crime.head()

         date  felonies  misdemeanors  violations
0  2009-04-20       376           677         162
1  2008-11-25       467           849         151
2  2002-02-22         4             0           0
3  2007-08-28       466           864         198
4  2002-08-09         1             0           0

### 311 & Vehicle collisions

In [12]:
colls=pd.read_csv('311_vehcol_2.csv')
colls['date']=colls['Unnamed: 0']
colls=colls.drop('Unnamed: 0',axis=1)
colls['date']=pd.to_datetime(colls['date'], format='%Y-%m-%d').apply(lambda x: x.date())
#colls=colls.set_index('date')
#colls=colls.sort_index()
colls.head()

,Traffic Signal Condition,ELECTRIC,FLOORING/STAIRS,Sanitation Condition,Illegal Parking,Noise - Residential,Sewer,Noise - Commercial,Water System,Blocked Driveway,...,Derelict Vehicles,Dirty Conditions,Indoor Air Quality,QUEENS,BROOKLYN,BRONX,MANHATTAN,STATEN ISLAND,passenger_vehicle,date
0,60,83,104,67,67,544,35,55,945,153,...,9,72,7,101,135,39,119,26,588,2012-07-01
1,87,148,251,117,95,199,78,19,700,132,...,43,154,19,94,140,71,113,25,584,2012-07-02
2,112,125,214,122,102,215,108,29,558,121,...,30,148,21,136,167,73,150,22,690,2012-07-03
3,64,56,66,37,51,521,42,28,681,111,...,13,46,9,93,94,51,65,22,485,2012-07-04
4,98,186,260,113,106,262,75,20,1126,148,...,32,140,17,123,153,60,107,24,594,2012-07-05

In [13]:
result=crime.merge(data,how='left',on='date')
result['year']=result['date'].str.slice(0,4)
result=result[result.year!='nan']
result=result.dropna(subset=['year'])

result['year']=result['year'].astype(int)
result=result[(result['year']>=2011)&(result['year']<=2017)]

result['date']=pd.to_datetime(result['date'], format='%Y-%m-%d').apply(lambda x: x.date())
result=result.drop('year',axis=1)
result=result.merge(colls,how='left',on='date')

result=result.set_index('date')
result=result.sort_index()

result.head()

,felonies,misdemeanors,violations,Temp,Spd,Prcp,mean_duration,num_trips,Traffic Signal Condition,ELECTRIC,...,Rodent,Derelict Vehicles,Dirty Conditions,Indoor Air Quality,QUEENS,BROOKLYN,BRONX,MANHATTAN,STATEN ISLAND,passenger_vehicle
date,,,,,,,,,,,,,,,,,,,,,
2011-01-01,729,1347,202,3.250000,2.987500,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-02,302,560,134,5.732353,2.255882,4.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-03,352,633,153,1.200000,8.285714,5.8,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-04,388,747,166,0.570833,4.116667,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2011-01-05,396,801,167,1.620833,5.245833,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# Correlations

In [14]:
result.shape

(2192, 37)

In [15]:
result=result.dropna()
result.shape

(1181, 37)

In [16]:
result=result.dropna()
result.to_csv('final_data.csv')
result.head()

,felonies,misdemeanors,violations,Temp,Spd,Prcp,mean_duration,num_trips,Traffic Signal Condition,ELECTRIC,...,Rodent,Derelict Vehicles,Dirty Conditions,Indoor Air Quality,QUEENS,BROOKLYN,BRONX,MANHATTAN,STATEN ISLAND,passenger_vehicle
date,,,,,,,,,,,,,,,,,,,,,
2013-07-01,511,842,186,22.834211,4.992105,58.8,978.599279,16650.0,122.0,147.0,...,107.0,44.0,128.0,11.0,112.0,165.0,58.0,134.0,20.0,608.0
2013-07-02,422,821,152,23.210345,5.800000,1.6,958.129567,22745.0,141.0,144.0,...,125.0,48.0,170.0,17.0,116.0,149.0,53.0,116.0,21.0,575.0
2013-07-03,450,809,162,23.536364,4.724242,27.1,974.328485,21864.0,126.0,146.0,...,109.0,20.0,148.0,12.0,110.0,150.0,53.0,123.0,16.0,600.0
2013-07-04,417,832,161,24.679310,4.282759,6.3,1273.108439,22326.0,63.0,65.0,...,37.0,20.0,45.0,7.0,87.0,107.0,57.0,65.0,17.0,433.0
2013-07-05,474,876,174,25.992000,4.804000,0.0,1082.426609,21842.0,99.0,110.0,...,66.0,35.0,83.0,10.0,113.0,139.0,72.0,103.0,20.0,574.0

In [17]:
lcrime=['felonies','misdemeanors','violations']
lweather=['Temp','Spd','Prcp']
lbike=['mean_duration','num_trips']
lcolls= ['QUEENS', 'BROOKLYN', 'BRONX', 'MANHATTAN', 'STATEN ISLAND','passenger_vehicle']
l311=['Traffic Signal Condition', 'ELECTRIC', 'FLOORING/STAIRS',
       'Sanitation Condition', 'Illegal Parking', 'Noise - Residential',
       'Sewer', 'Noise - Commercial', 'Water System', 'Blocked Driveway',
       'Taxi Complaint', 'Sidewalk Condition', 'For Hire Vehicle Complaint',
       'Found Property', 'Noise', 'Street Light Condition', 'PLUMBING',
       'Street Sign - Damaged', 'Damaged Tree', 'Rodent', 'Derelict Vehicles',
       'Dirty Conditions', 'Indoor Air Quality']
data_all=[lcrime,lweather,lbike,lcolls]

In [18]:
mycolumns=result.columns
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
result=pd.DataFrame(scaler.fit_transform(result),columns=mycolumns)
result.head()

,felonies,misdemeanors,violations,Temp,Spd,Prcp,mean_duration,num_trips,Traffic Signal Condition,ELECTRIC,...,Rodent,Derelict Vehicles,Dirty Conditions,Indoor Air Quality,QUEENS,BROOKLYN,BRONX,MANHATTAN,STATEN ISLAND,passenger_vehicle
0,0.656566,0.422245,0.555556,0.809771,0.372475,0.218263,0.095156,0.235665,0.084864,0.619266,...,0.258486,0.277419,0.156992,0.294118,0.412766,0.627615,0.280702,0.615385,0.339286,0.387203
1,0.431818,0.400618,0.333333,0.818347,0.444449,0.005939,0.090392,0.326725,0.101487,0.605505,...,0.305483,0.303226,0.212401,0.470588,0.429787,0.560669,0.251462,0.523077,0.357143,0.360131
2,0.502525,0.388260,0.398693,0.825781,0.348612,0.100594,0.094162,0.313563,0.088364,0.614679,...,0.263708,0.122581,0.183377,0.323529,0.404255,0.564854,0.251462,0.558974,0.267857,0.380640
3,0.419192,0.411946,0.392157,0.851841,0.309281,0.023385,0.163697,0.320465,0.033246,0.243119,...,0.075718,0.122581,0.047493,0.176471,0.306383,0.384937,0.274854,0.261538,0.285714,0.243642
4,0.563131,0.457261,0.477124,0.881771,0.355717,0.000000,0.119320,0.313234,0.064742,0.449541,...,0.151436,0.219355,0.097625,0.264706,0.417021,0.518828,0.362573,0.456410,0.339286,0.359311

In [24]:
def correlation_dtw(x_col, y_col):
    x=np.array(result[x_col]).reshape(-1, 1)
    y=np.array(result[y_col]).reshape(-1, 1)
    dist, cost, acc, path = dtw(x, y, 
                                lambda x, y: np.linalg.norm(x - y, ord=2))
   
    plt.figure(3)
    plt.xlabel(x_col)
    plt.ylabel(y_col)
    imshow(acc.T, origin='lower', cmap='Reds', interpolation='nearest')
    #print(dist)
    return dist
    #plt.plot(path[0], path[1], 'w')
    #plt.savefig(x_col+'_'+y_col+'.jpg')
    #plt.show()

In [ ]:
#imshow(acc.T, origin='lower', cmap=cm.gray, interpolation='nearest')
allcolumns=result.columns
corrs={}
run=[]
i=0
for c1 in allcolumns:
    for c2 in allcolumns:
        vars_=sorted([c1,c2])

        
        if (c1 in lcrime) and (c2 in lcrime):
            pass
        elif c1 in lweather and c2 in lweather:
            pass
        elif c1 in lbike and c2 in lbike:
            pass
        elif c1 in lcolls and c2 in lcolls:
            pass
        elif c1 in l311 and c2 in l311:
            pass
        
        elif sorted([c1,c2]) in run:
            pass
        else:
            run.append(vars_)
            
            dist=correlation_dtw(x_col= c1, y_col =c2)
            name=c1+'_'+c2
            corrs[name]=dist
            print(i)
            i+=1
corrs

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23